In [1]:
#conditional statements 

if 1 != 1:
    print("they are equal")
elif 1  == 3 :
    print("it is ok")
else:
    print("noting happened")

noting happened

In [2]:
#concept of dictionaries and frequency tables

dic1 = {"k1":2, "k2":3 , "k3":5}

dic2 = {}
dic2["k1"] = "2"
dic2["k2"] = [2 , 3 , 2]
dic2["k3"] = {"k":120}


dic2["k2"] = 22

dic2

{'k1': '2', 'k2': 22, 'k3': {'k': 120}}

In [3]:
#frequency tables

l2 = [[1, 2, 3] , 
      [4 , 5 ,6],
      [7 , 8 ,9]]

mydic = {}

#how to make a freq table for a column
for row in l2:
    col2 = row[1]
    if col2 in mydic:
        mydic[col2] += 1
    else:
        mydic[col2] = 1
        
mydic


mylist = [1 , 2 , 5 , 4 , 5 , 2 , 3]

dic = {}
for i in mylist:
    if i in dic:
        dic[i] += 1
    else:
        dic[i] = 1
dic

{1: 1, 2: 2, 5: 2, 4: 1, 3: 1}

In [4]:
#functions takeaway

def add_values(x , constant = 21):
    
    return x + constant
add_values(5)

def name(name):
    if name == "eslam":
        return 1
    
    return False
    
name("jhlkm")

False

In [5]:
# python bootcamp 

st = 'Print only the words that start with s in this sentence'
s = st.split()

for word in s:
    if word[0].lower() == "s":
        print(word)

start
s
sentence

In [6]:
list(range(1,50,3))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [7]:
mylist = [x for x in "eslam"]
mylist

['e', 's', 'l', 'a', 'm']

In [8]:
st = 'Print every word in this sentence that has an even number of letters'

for word in st.split():
    if len(word)%2 == 0:
        print(word , " -- even" )

word  -- even
in  -- even
this  -- even
sentence  -- even
that  -- even
an  -- even
even  -- even
number  -- even
of  -- even

In [9]:
for num in range(1,16):
    if num %3 == 0 and num%5 == 0:
        print("fizzbuzz")
    elif num%3 == 0:
        print("fizz")
    elif num%3 == 0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
5
fizz
7
8
fizz
10
11
fizz
13
14
fizzbuzz

In [10]:
st = 'Create a list of the first letters of every word in this string'

mylist = [x[0] for x in st.split()]
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [11]:
# function of bootcamp
lst = [1,2,3,5,6]

lst.append(20)
lst

lst.count(2)

lst.extend(["eslam"])
lst
lst.insert(5 , "yazeed")
lst
lst.pop()
lst
lst.remove(5)
lst
lst.reverse()
lst
lst.reverse()
lst

[1, 2, 3, 6, 'yazeed', 20]

In [12]:
#functions

def is_prime(num):
    for i in range(2,num):
        if num % i == 0:
            print(num ,"is not prime")
            break
    else:
        print(num , "is prime")
        
is_prime(17)

def check_prime(num):
    for i in range(2 , num):
        if num % i == 0:
            print("not prime")
            break
    else:
        print("is prime")
        
check_prime(36)

17 is prime
not prime

In [13]:
import math 

def is_prime2(num):
    if num % 2 == 0 and num >2:
        return False
    for i in range(3 , int(math.sqr(num)) + 1, 2):
        if num % i == 0:
            return False
    return True
is_prime2(16)
is_prime2(4)

False

In [14]:
#functions
def lesser_number(num1 , num2):
    if num1 %2 == 0 and num2 %2 == 0:
        return min(num1 , num2)
    else:
        return max(num1 , num2)
    
lesser_number(2 , 4)
lesser_number(5,2)
lesser_number(10 , 20)

10

In [15]:
def animal_check(name):
    x ,y = name.split()
    if x[0] == y[0]:
        return True
    else:
        return False
animal_check("eslam hosam ")
animal_check("es es")

True

In [16]:
def makes_twenty(n , m ):
    if n + m == 20 or (n == 20 or m==20):
        return True
    else:
        return False
makes_twenty(20 ,10)
makes_twenty(10 , 10)
makes_twenty(15 , 5)
makes_twenty(10 , 2)

False

In [17]:
#checking cell
name = "iam eslam iam 26 years old"
lst = []
lst.append(name)
lst

for i in range(0 , 2):
    print(i)

0
1

In [18]:
def macdolald(name):
    return name[0:3].capitalize() + name[3:].capitalize()

macdolald('macdonald')

'MacDonald'

In [19]:
def rev_sen(s):
    return " ".join(s.split()[::-1])
rev_sen("iam eslam iam 26 yd")
rev_sen("we are ready")

'ready are we'

In [20]:
# absolute value |5| = 5 , |-5| = 5 المقياس
def almost_there(num):
    return (abs(100 - num) <= 10) or (abs(200 - num) <= 10)
almost_there(109)

True

In [21]:
#level 2 Find 33

def find_33(num):
    for i in range(0 , len(num)-1):
        if num[i] == 3 and num[i+1] == 3:
            return True
    else:
        return False

find_33([1,2,3])

find_33([3,3,3])

def has_33(lst):
    for i in range(0 , len(lst) - 1):
        if lst[i:i+2] == [3 ,3]:
            return True
    else:
        return False
    
has_33([1 , 2 , 3])
has_33([ 1 , 3 , 3])

name = "eslam"
name[0:3]

'esl'

In [22]:
def paper_roll(text):
    l = [x*3 for x in text]
    n = "".join(l)
    return n
paper_roll("eslam")

paper_roll('hello')
paper_roll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [23]:
def paper_doll(t):
    result = ""
    for char in t:
        result += char*3
    return result
paper_doll("eslam hosam")

'eeessslllaaammm   hhhooosssaaammm'

In [24]:
def blackjack(a , b ,c): 
    if sum((a ,b ,c)) <= 21:
        return sum((a,b,c))
    elif (sum((a,b,c)) <= 31) and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return "bust"

blackjack(9,9,11)

19

In [25]:
def summer_69(nums):
    s = sum(nums)
    for i in nums:
        if i in range(6,10):
            s -= i
    return s

summer_69([2, 1, 6, 9, 11])
summer_69([4, 5, 6, 7, 8, 9])
summer_69([1, 3, 5])

summer_69([1,2,6,7,8,9,9,8,7,6])

3

In [27]:
#spy game

print("eslam hosam")

eslam hosam