**strings in python**

In [1]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

app_data = [row_1, row_2, row_3, row_4,  row_5]

ratings = [app_data[0][4], app_data[1][4],app_data[2][4],app_data[3][4],app_data[4][4]]

print(sum(ratings) / len(ratings))

total = 0
for rating in ratings:
    total += rating
    avg = total/len(ratings)
    
avg

4.2

4.2

In [2]:
#opening files in python
# import csv module
import csv

file = open("AppleStore.csv", encoding= "utf-8")
data =list(csv.reader(file))

header = data[0]

apps_data = data[1:]
print(header)

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']

In [3]:
#compute the avg rating for ratings column

total = 0
for row in apps_data:
    rating = float(row[7])
    total += rating
    
avg = total / len(apps_data)
print(avg)


# second way 
ratings = []
for row in apps_data:
    rating = float(row[7])
    ratings.append(rating)
    
avg = sum(ratings) / len(ratings)
print(avg)

3.526955675976101
3.526955675976101

In [4]:
#if statement
free_app_ratings = []
non_free_apps = []

for row in apps_data:
    rating = float(row[7])
    price = float(row[4])
    
    if price == 0.0:
        free_app_ratings.append(rating)
    else:
        non_free_apps.append(rating)
        
free_avg = sum(free_app_ratings) / len(free_app_ratings)
non_free_avg = sum(non_free_apps) / len(non_free_apps)

print("free average {}".format(free_avg) , f':non free avg {non_free_avg}')

free average 3.3767258382642997 :non free avg 3.720948742438714

In [5]:
# genre column in data describes the gere of each app

non_gaming = []
gaming_apps = []

for row in apps_data:
    genre  = row[11]
    rating = float(row[4])
    
    if genre  == "Games":
        gaming_apps.append(rating)
    else:
        non_gaming.append(rating)
        
len(gaming_apps)

3862

In [6]:
#multiple conditions
free_games_ratings = []
non_free_non_games = []
non_free_games = []
free_non_games = []

for row in apps_data:
    rating = float(row[7])
    price = float(row[4])
    genre = row[11]
    
    if price == 0.0 and genre == "Games" :
        free_games_ratings.append(rating)
        avg_1 =  sum(free_games_ratings) / len(free_games_ratings)
        
    elif price != 0.0 and genre != "Games":
        non_free_non_games.append(rating)
        avg_2 = sum(non_free_non_games) / len(non_free_non_games)
        
    elif price != 0.0 and genre == "Games" : 
        non_free_games.append(rating)
        avg_3 = sum(non_free_games) / len(non_free_games)

print(max(avg_1 , avg_2, avg_3))
print(min(avg_1 , avg_2, avg_3))



free_games_social_ratings = []

for row in apps_data:
    rating = float(row[7])
    genre = row[11]
    price = float(row[4])
    
    
    if (genre ==  "Games" or genre == "Social Networking") and price == 0.0 :
        free_games_social_ratings.append(rating)
        
        avg = sum(free_games_social_ratings) /  len(free_games_social_ratings)
        
avg

3.9049844236760123
3.5285777580859548

3.496875

In [7]:
more_than_90 = []
less_than_90 = []
equal_90 = []

for row in apps_data:
    rating = float(row[7])
    price = float(row[4])
    
    if price ==  90:
        equal_90.append(rating)
    elif price >  90:
        more_than_90.append(rating)
    elif price < 90:
        less_than_90.append(rating)

In [8]:
for row in apps_data:
    price = float(row[4])
    
    if price == 0.0 :
        row.append("free")
    elif   0 < price < 20:
        row.append("affordable")
    elif  20 <= price  < 50  :
        row.append("expensive")
    elif price >= 50:
        row.append("very expensive")
        
header.append("price_label")
print(apps_data[2:6])

[['529479190', 'Clash of Clans', '116476928', 'USD', '0.0', '2130805', '579', '4.5', '4.5', '9.24.12', '9+', 'Games', '38', '5', '18', '1', 'free'], ['420009108', 'Temple Run', '65921024', 'USD', '0.0', '1724546', '3842', '4.5', '4.0', '1.6.2', '9+', 'Games', '40', '5', '1', '1', 'free'], ['284035177', 'Pandora - Music & Radio', '130242560', 'USD', '0.0', '1126879', '3594', '4.0', '4.5', '8.4.1', '12+', 'Music', '37', '4', '1', '1', 'free'], ['429047995', 'Pinterest', '74778624', 'USD', '0.0', '1061624', '1814', '4.5', '4.0', '6.26', '12+', 'Social Networking', '37', '5', '27', '1', 'free']]

**dictionaries and frequency tabels**

In [9]:
content_ratings = ['4+', '9+', '12+', '17+']
numbers = [4433, 987, 1155, 622]

content_rating_numbers = [content_ratings, numbers]

dic = {"eslam":27 ,  "ebtsam" : 30 , "ehab": 34}


# create a dictionary 
d_1 = {
    'key_1' : 'first_value',
    'key_2' : 2,
    'key_3' : 3.14,
    'key_4' : True,
    'key_1' : [4,2,1],
    (1,2,3) : {'inner_key' : 6 }
}



d_1["key_1"]

[4, 2, 1]

In [10]:
content_ratings = {'4+': 4433, '9+': 987, '12+': 1155, '17+': 622}


#find the unique values

numbers = [4433, 987, 1155, 622 ,622,987 ]

dic = {}

for number in numbers:
    if number in dic:
        dic[number] += 1 
    else:
        dic[number] = 1

dic_percent = {}

total = 5 
for key, value in dic.items():
    dic_percent[key] = value/ total
    
dic_percent

{4433: 0.2, 987: 0.4, 1155: 0.2, 622: 0.4}

In [11]:
#porpotion percentage
my_list = []
my_dic = {'0-5':0, '5-10':0, '10-15':0, '15-20':0}


for row in apps_data:
    rating_count = float(row[5])
    my_list.append(rating_count)
    
    if rating_count <= 500000:
        my_dic["0-5"] += 1
    elif 500000 < rating_count <= 1000000:
        my_dic["5-10"] += 1
    elif 1000000 < rating_count <= 1500000:
        my_dic["10-15"] += 1
    elif 1500000 < rating_count <= 2000000:
        my_dic["15-20"] += 1
        
print(max(my_list))
print(min(my_list))

my_dic

2974676.0
0.0

{'0-5': 7175, '5-10': 16, '10-15': 2, '15-20': 1}

**Functions in python**

In [12]:
a_list = [4444, 8897, 6340, 9896, 4835, 4324, 10, 6445,
          661, 1246, 1000, 7429, 1376, 8121, 647, 1280,
          3993, 4881, 9500, 6701, 1199, 6251, 4432, 37]

def sum_numbers(args):
    total = 0
    for each in args:
        total += each
        
    print(total)
    
sum_numbers(a_list)

103945

In [13]:
def square_number(number):
    square = number * number
    return square

square_number(5)

25

In [14]:
# extracting any column from the dataset
prices = []
for row in apps_data:
    price = row[4]
    prices.append(price)
    

#function to extract any column from the dataset
def open_data(file_name , encode = "utf-8"):
    file = open(file_name , encoding=  encode)
    data = list(csv.reader(file))
    
    return data[1:]



def extract_columns(data, index):
    column = []
    for row in data:
        column.append(row[index])
        
        
    return column


def freq_table(table_list):
    dic = {}
    for each in table_list:
        if each in dic:
            dic[each] += 1
        else:
            dic[each] = 1
            
    return dic


        

app_store = open_data("AppleStore.csv")
prices = extract_columns(app_store , 4)

unique_prices =  freq_table(prices)

unique_prices

{'0.0': 4056,
 '1.99': 621,
 '0.99': 728,
 '6.99': 166,
 '2.99': 683,
 '7.99': 33,
 '4.99': 394,
 '9.99': 81,
 '3.99': 277,
 '8.99': 9,
 '5.99': 52,
 '14.99': 21,
 '13.99': 6,
 '19.99': 13,
 '17.99': 3,
 '15.99': 4,
 '24.99': 8,
 '20.99': 2,
 '29.99': 6,
 '12.99': 5,
 '39.99': 2,
 '74.99': 1,
 '16.99': 2,
 '249.99': 1,
 '11.99': 6,
 '27.99': 2,
 '49.99': 2,
 '59.99': 3,
 '22.99': 2,
 '18.99': 1,
 '99.99': 1,
 '21.99': 1,
 '34.99': 1,
 '299.99': 1,
 '23.99': 2,
 '47.99': 1}

In [15]:
# function to extract any column and its unique values from a dataset
def extract_col(data , index):
    column = []
    dic = {}
    for row in data:
        col = row[index]
        column.append(col)
    for each in column:
        if each in dic:
            dic[each] += 1
        else:
            dic[each] = 1
    
    return (column , dic)


app_store = open_data("AppleStore.csv")


prices , unique_prices = extract_col(app_store , 4)

In [16]:
unique_prices

{'0.0': 4056,
 '1.99': 621,
 '0.99': 728,
 '6.99': 166,
 '2.99': 683,
 '7.99': 33,
 '4.99': 394,
 '9.99': 81,
 '3.99': 277,
 '8.99': 9,
 '5.99': 52,
 '14.99': 21,
 '13.99': 6,
 '19.99': 13,
 '17.99': 3,
 '15.99': 4,
 '24.99': 8,
 '20.99': 2,
 '29.99': 6,
 '12.99': 5,
 '39.99': 2,
 '74.99': 1,
 '16.99': 2,
 '249.99': 1,
 '11.99': 6,
 '27.99': 2,
 '49.99': 2,
 '59.99': 3,
 '22.99': 2,
 '18.99': 1,
 '99.99': 1,
 '21.99': 1,
 '34.99': 1,
 '299.99': 1,
 '23.99': 2,
 '47.99': 1}

> building a function to combine all functions

In [17]:
def reading_data(file_name , index = 1 , code = "utf8"):
    file = open("AppleStore.csv" , encoding= code)
    data = list(csv.reader(file))
    data = data[1:]
    
    # extract any column
    column = []
    for row in data:
        col = row[index]
        column.append(col)
        
    #unique values
    dic = {}
    for each_value in column:
        if each_value in dic:
            dic[each_value] += 1
        else:
            dic[each_value] = 1
            
            
    return data, column, dic

In [18]:
# combining or reusable codes

def read_data(file_name):
    file = open(file_name , encoding="utf-8")
    data = list(csv.reader(file))
    
    return data[1:]


def extrac_col(file_name , index):
    data = read_data(file_name)
    column = []
    for row in data:
        col = row[index]
        column.append(col)
        
    return column


def unique_values(file_name , index):
    col = extrac_col(file_name , index)
    
    dic = {}
    for each_value in col:
        if each_value in dic :
            dic[each_value] += 1
        else:
            dic[each_value] = 1
            
        return dic

In [19]:
prices = unique_values("AppleStore.csv" , 3)

prices

{'USD': 1}

In [20]:
# find mean for a column

data =read_data("AppleStore.csv")

prices = extract_columns(data = data , index = 4)

def sum_column(column):
    s = 0
    for value in column:
        s += value
        return s
    
def length(column):
    l = 0
    for value in column:
        l += 1
    return l


def mean(column):
    pass

**completing functions**
> use your time the most important thing is to put time and effort

In [21]:
def open_data(path , code = "utf-8"):
    file = open(path, encoding= code)
    data = list(csv.reader(file))[1:]
    
    return data

data = open_data("AppleStore.csv")

In [22]:
#complete open file function to get the dataset
def get_data(path , code= "utf-8"):
    import csv
    file = open(path, encoding = code)
    data = list(csv.reader(file))
    header = data[0]
    
    return header , data[1:]

data = get_data("googleplaystore.csv") # here data is a tuble that has 2 values
header = data[0]
google_play = data[1]

print(header, len(header) ,  len(google_play))

['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type', 'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver', 'Android Ver'] 13 10841

In [23]:
def multipe_return(a = 5, b= 6, add = True):
    if add:
        return a + b
    else:
        return abs( a - b)
    
multipe_return(5,10, False)


def get_data(path, code= "utf-8", remove_header = True):
    
    '''takes the path and return data with or without header''' #docstring of a function in python
    import csv
    file = open(path , encoding = code)
    data = list(csv.reader(file))
    
    if remove_header:
        return data[1:]
    else:
        return data[0] , data[1:]
    

dataset = get_data("googleplaystore.csv")

data = get_data("googleplaystore.csv" , )

<b> understanding tubles with functions and return </b>

In [24]:
def sum_diff(a = 5, b = 10):
    a_sum = a+b 
    a_diff = a-b
    
    return a_diff , a_sum   #tuple

my_list =[]
for item in sum_diff(5,10):
    my_list.append(item)
    
my_list[0] = 20
my_list

[20, 15]

In [25]:
e = 'mathematical constant'
a_sum = 1000
length = 50

def exponential(x):
    e = 2.27
    print(e)
    return e**x

result_1 = exponential(5)
print(e) #global scope property

def divide():
    print(a_sum) #global variable or global scope
    print(length)
    return a_sum / length

result_2 = divide()

2.27
mathematical constant
1000
50

**Python intermediate**

In [26]:
string = "i am eslam hosam"
string.replace("hosam" , "soliman")

# string.replace("eslam" , "")

chars = ["a" , "b" , "c" , "m", "d"]

for char in chars :
    if char in string : 
        a = string.replace(char ,"")
        

        
"the approximate population of india is {:,.2f}".format(1301500000)

'the approximate population of india is 1,301,500,000.00'

**artworks dataset**

In [27]:
# reading data
artworks = list(csv.reader(open("artworks.csv" , encoding= "utf-8")))

header = artworks[0]
moma = artworks[1:]
print(header , "\n" , len(header))

len(dataset)

['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Department']
 8

10841

In [28]:
for row in moma[:3]:
    print(row , "\n")

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', '(American)', '(1947)', '(2013)', '(Female)', '1986', 'Prints & Illustrated Books']

['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA', 'Pablo Palazuelo', '(Spanish)', '(1916)', '(2007)', '(Male)', '1978', 'Prints & Illustrated Books']

['Tailpiece (page 55) from SAGESSE', 'Maurice Denis', '(French)', '(1870)', '(1943)', '(Male)', '1889-1911', 'Prints & Illustrated Books']

In [29]:
# check the values in gender column

def clean_string(string) : 
    string = string.replace("(" , "")
    string = string.replace(")" , "")
    string = string.title()
    
    return string

gender_unique = []

for work in moma :
    gender = work[5]
    gender = clean_string(gender)
    #take the unique values
    if gender not in gender_unique:
        gender_unique.append(gender)
        
gender_unique

['Female', 'Male', '']

we cleaned the gender and at least now we know that we have missing values in this column

In [30]:
# clean the gender column with the same function
print(moma[5][2])

for work in moma :
    nationality = work[2]
    nationality = clean_string(nationality)
    work[2] = nationality
    
print(moma[5][2])

(American)
American

In [31]:
nat = []
for work in moma :
    nationality = work[2]
    if nationality not in nat :
        nat.append(nationality)
        
print(len(nat))

83

In [32]:
# fill the value in gender column
unique = []

for row in moma :
    gender = row[5]
    gender = clean_string(gender)
    if gender == "":
        gender = "unknown"
    row[5] = gender
    if gender not in unique :
        unique.append(gender)
        
unique

['Female', 'Male', 'unknown']

In [33]:
for row in moma[0:10]:
    birth_date = row[3]
    death_date = row[4]
    print([birth_date , death_date])

['(1947)', '(2013)']
['(1916)', '(2007)']
['(1870)', '(1943)']
['(1861)', '(1944)']
['(1857)', '(1927)']
['(1919)', '(2013)']
['(1857)', '(1927)']
['(1928)', '(1984)']
['(1964)', '']
['(1882)', '(1953)']

In [35]:
def clean_date(string_date):
    '''clean string and convert string number to int'''
    string_date = string_date.replace("(" , "")
    string_date = string_date.replace(")" , "")
    if string_date == "":
        string_date = '1990'
    string_date =  int(string_date)
    
    return string_date


# change the date column in the datast

for row in moma :
    row[3],  row[4] = (clean_date(row[3]) , clean_date(row[4]))

In [ ]:
# def clean(date):
#     if date != "":
#         date = date.replace(")" , "")
#         date = date.replace("(" , "")
#     else :
#         date = 2020
#     return int(date)

# clean("(1950)")

In [42]:
for i in range(5,10):
    print(moma[i][3] , type(moma[i][3]) , moma[i][4], type(moma[i][4]) )

1919 <class 'int'> 2013 <class 'int'>
1857 <class 'int'> 1927 <class 'int'>
1928 <class 'int'> 1984 <class 'int'>
1964 <class 'int'> 1990 <class 'int'>
1882 <class 'int'> 1953 <class 'int'>

In [44]:
for i in range(0,5):
    print(moma[i] , "\n")

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', 'American', 1947, 2013, 'Female', '1986', 'Prints & Illustrated Books']

['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA', 'Pablo Palazuelo', 'Spanish', 1916, 2007, 'Male', '1978', 'Prints & Illustrated Books']

['Tailpiece (page 55) from SAGESSE', 'Maurice Denis', 'French', 1870, 1943, 'Male', '1889-1911', 'Prints & Illustrated Books']

['Headpiece (page 129) from LIVRET DE FOLASTRIES, À JANOT PARISIEN', 'Aristide Maillol', 'French', 1861, 1944, 'Male', '1927-1940', 'Prints & Illustrated Books']

['97 rue du Bac', 'Eugène Atget', 'French', 1857, 1927, 'Male', '1903', 'Photography']

In [51]:
# checking the null values in dates

for row in moma:
    birth_date = row[3]
    death_date = row[4]
    if birth_date == "" or birth_date == None or type(birth_date) != int:
        print(birth_date)
    if death_date == "" or death_date == None or type(birth_date) != int:
        print(death_date)

In [65]:
ages = []
frauds = []

for row in moma :
    age = abs(row[4] - row[3])
    ages.append(age)
    
for i in range(len(ages)):
    if ages[i] > 100:
        ages[i] = 60
    elif ages[i] < 0:
        ages[i] = 20

### parsing numbers inside strings

In [113]:
strings = ["good!", "morn?ing", "good?!", "morniZZZZng"]
bad_chars = ["!" , "?" , "Z"]
clean_strings = []

for word in strings:
    for char in bad_chars:
        if char in word :
            word = word.replace(char , "")
    clean_strings.append(word)
    
clean_strings

['good', 'morning', 'good', 'morning']

In [115]:
def remove_bad_words(words , bad_chars):
    cleaned_words =  []
    for word in words :
        for char in bad_chars:
            if char in word :
                word = word.replace(char , "")
        cleaned_words.append(word)
        
    return cleaned_words

names = remove_bad_words(strings , bad_chars = bad_chars)
names

['good', 'morning', 'good', 'morning']

In [127]:
test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars2 = ["(",")","c","C",".","s","'", " "]

dates = remove_bad_words(test_data , bad_chars2) 

for i in range(len(dates)):
    if "-" in dates[i]:
        a,b = dates[i].split("-")
        dates[i] = int((int(a) + int(b)) / 2)
    else:
        dates[i] = int(dates[i])

In [133]:
def convert_date(date = "1990-1995"):
    if "-" in date and date != None:
        a = date.split("-")
        date = int((int(a) + int(b)) /2)
    return date

# convert_date("1995-1997")  correct
# convert_date("1994-1990-1950")  sucks here

> my function above is not general and it gives an error in an easy change in the parameter

In [139]:
# general function 
def convert_date(date_string = "1995-1997"):
    s = 0
    if "-" in date_string:
        date_string =date_string.split("-")
    for each_date in date_string:
        s += int(each_date)
    avg = round(s / len(date_string))
    
    return avg

convert_date("120-150-   30")

100

In [160]:
# apply on moma dataset
a = [age for age in ages if age < 20 or age > 100 ]