In [1]:
from csv import reader

opened_file = open("artworks.csv" ,  encoding="utf8" )
read_file = reader(opened_file)
art_works = list(read_file)
header = art_works[0]


moma = art_works[1:] # my dataset
print(header , "\n" , moma[19])

['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Department']
 ['Plate (folio 35) from ACORDE', 'Vicente Rojo', '(Spanish)', '(1932)', '', '(Male)', '1979', 'Prints & Illustrated Books']

In [2]:
print(len(moma))

16725

In [3]:
# clean the gender and nationality columns
# function to clean the column
def clean_column(column_value):
    column_value = column_value.replace("(", "")
    column_value = column_value.replace(")" , "")
    column_value = column_value.title()
    
    return column_value

clean_column("1999")

'1999'

In [4]:
#clean the nationality column

for row in moma:
    nat = row[2]
    nat = clean_column(nat)
    if nat == "":
        nat = "Unknown nationality"
    row[2] = nat

for i in range(500,510):
    print(moma[i][2])
    
#how many nationalities are there
mynat = []
for row in moma:
    nat = row[2]
    if nat not in mynat:
        mynat.append(nat)
   # print([nat , gender])
print(f' \n number of nationalities is {len(mynat)}')

Swiss
Unknown nationality
German
American
American
American
French
American
American
American

 number of nationalities is 83

In [5]:
g_lst = []
#clean gender column and check unique values
for row in moma:
    gender = row[5]
    gender = clean_column(gender)
    if gender == "":
        gender = "Unknown"  
    row[5] = gender
    if gender not in g_lst:
        g_lst.append(gender)

        
g_lst # check the values in column

['Female', 'Male', 'Unknown']

In [6]:
# start cleaning the date column and see some errors 

for row in moma[:10]:
    birth_date = row[3]
    death_date = row[4]
    print([birth_date , death_date])
    
# we can see some empty values or missing data

['(1947)', '(2013)']
['(1916)', '(2007)']
['(1870)', '(1943)']
['(1861)', '(1944)']
['(1857)', '(1927)']
['(1919)', '(2013)']
['(1857)', '(1927)']
['(1928)', '(1984)']
['(1964)', '']
['(1882)', '(1953)']

In [7]:
# build a function to clean the date column 
def clean_date(date):
    if date != "":
        date = str(date) # because some int values among the strings so i need all strings type
        date = date.replace(")" , "")
        date = date.replace("(", "")
        if date == "None": # to handle the none values
            date = 2020
            
        date = int(date)
    return date

clean_date("")

''

In [8]:
# check for the None values in the birth date column and death date column
mylst = []
m_lst = []
for row in moma:
    birth_date = row[3]
    death_date = row[4]
    if birth_date == None:
        birth_date = 1
        mylst.append(birth_date)
    if death_date == None:
        m_lst.append(death_date)

In [9]:
# clean the begin date and end date columns
for row in moma:
    birth_date = row[3]
    death_date = row[4]
    birth_date = clean_date(birth_date)
    death_date = clean_date(death_date)
    row[3] = birth_date
    row[4] = death_date
    
#     if type(birth_date) != int or type(death_date) != int:
#         print(birth_date , type(birth_date) , death_date , type(death_date))
#     age = death_date - birth_date
#     print(age)

In [10]:
# parsing numbers from complex string idea first 

strings = ["good!", "morn?ing", "good?!", "morniZZZZng"]
bad_chars = ["!", "?", "Z"]

def remove_bad(string):
    for char in bad_chars:
        if char in string:
            string = string.replace(char , "")
            
    return string
clean_lst = []
for word in strings:
    a = remove_bad(word)
    clean_lst.append(a)
    
clean_lst

['good', 'morning', 'good', 'morning']

In [11]:
date_bad_chars = ["(",")","c","C",".","s","'", " "]
#cleaning function:

def clean_date(date):
    for char in date_bad_chars:
        if char in date:
            date = date.replace(char , "")            
    return date

def convert_date(date_string):
    summ = 0
    if "-" in date_string:
        date_string = date_string.split("-")
        length = len(date_string)
        for s in date_string:
            s = int(s)
            summ += s
            avg = round(summ/length)
            date_string = avg
    else:
        date_string = int(date_string)
        
    return date_string

# clean the date column and convert it to integer 
for row in moma:
    art_date = row[6]
    art_date = clean_date(art_date)
    art_date = convert_date(art_date)
    row[6] = art_date

### here we will work on the death date and birth date which we converted   the non empty values to int but still we have some  empty (" " ) values

In [12]:
#how to calculate the artist age

artist_ages = []
for row in moma:
    birth_date = row[3]
    death_date = row[4]
    if type(death_date) == int:
        age = death_date - birth_date
    else:
        age = 0
    artist_ages.append(age)
    
# ages = []
# for row in moma:
#     b_date = row[3]
#     d = row[6]
#     if type(b_date) == int:
#         a = d - b_date
#         ages.append(a)


# build the final ages
final_ages = []
for each_age in artist_ages:
    if each_age > 20:
        f_age = each_age
    else:
        f_age = "Unknown"
    final_ages.append(f_age)
    
#print(final_ages)

### then we have the idea of converting the ages to decades and barsing numbers in strings

In [13]:
# simple idea 
s = "eslam"
print(s[:-1])

d = []
my_ages = [21 ,"unknown" ,  25 ,26]
for a in my_ages:
    if a != "unknown":
        a = str(a) #convert int to string first
        a = a[:-1]
        a = a + "0s"
        d.append(a)
d

esla

['20s', '20s', '20s']

In [14]:
# make the decades list
decades = []
for decade in final_ages:
    if decade != "Unknown":
        decade = str(decade)
        decade = decade[:-1]
        decade = decade + "0s"
        decades.append(decade)
    
 # print(decades)

### summarizing all these decades by making a frequency table for decades

In [15]:
# make a frequency table for decades

freq_decades = {}
for d in decades:
    if d not in freq_decades:
        freq_decades[d] = 1 
    else:
        freq_decades[d] += 1

print(freq_decades , len(freq_decades) )

{'60s': 1269, '90s': 1821, '70s': 2934, '80s': 3190, '50s': 613, '40s': 420, '30s': 152, '20s': 17, '100s': 56} 9

### how to insert a variable inside a string

In [16]:
# old = 26
# village = "shamaendeel"
# c = input("enter name:")
# s = "{c} is {old} and from  {village}".format(c = c , old = old, village = village)
# print(s)
# name = f'eslam hosam "{s}" yd'

# name

In [17]:
# making an artist freq table

artist_freq = {}
for row in moma:
    name = row[1]
    if name not in artist_freq:
        artist_freq[name] = 1
    else:
        artist_freq[name] += 1
        
artist_freq["Henri Matisse"]

129

In [18]:
# making an artist summary function to tell some information about each artist
def artist_summary(name):
    template = "there are {} artworks by {} in our dataset"
    for key in artist_freq:
        num = artist_freq[name]
    out = template.format(num , name)
    return out

artist_summary("Henri Matisse")
artist_summary("Vicente Rojo")

'there are 5 artworks by Vicente Rojo in our dataset'

##### formating numbers in strings

In [19]:
number = 12591251.254125
print("I have {:,.3f} in my bank account".format( number))

pop_millions = [
    ["China", 1379.302771],
    ["India", 1281.935991],
    ["USA",  326.625791],
    ["Indonesia",  260.580739],
    ["Brazil",  207.353391],
]

template = "the population of {contury} is {pop:,.3f}"
for row in pop_millions:
    cont = row[0]
    population = row[1]
    out = template.format(contury = cont , pop = population)
    print(out)

I have 12,591,251.254 in my bank account
the population of China is 1,379.303
the population of India is 1,281.936
the population of USA is 326.626
the population of Indonesia is 260.581
the population of Brazil is 207.353

summarize the gender column

In [20]:
# try it
gender_freq = {}
for row in moma:
    gender = row[5]
    if gender not in gender_freq:
        gender_freq[gender] = 1
    else:
        gender_freq[gender] += 1
        
template = "there are {:,} artworks by {}s in the dataset"

for key , value in gender_freq.items():
    out = template.format(value , key)
    print(out)

there are 2,443 artworks by Females in the dataset
there are 13,491 artworks by Males in the dataset
there are 791 artworks by Unknowns in the dataset

In [21]:
gender_freq_2 = {}

for row in moma:
    gender = row[5]
    if gender not in gender_freq_2:
        gender_freq_2[gender] = 1
    else:
        gender_freq_2[gender] += 1
print(gender_freq_2)       
template_2 = "there are {:,.2f} artworks by {} in our data"
for i in gender_freq_2:
    c = template_2.format(gender_freq_2[i] , i)
    print(c)

{'Female': 2443, 'Male': 13491, 'Unknown': 791}
there are 2,443.00 artworks by Female in our data
there are 13,491.00 artworks by Male in our data
there are 791.00 artworks by Unknown in our data

## object oriented concept at mission 3

In [22]:
# creating a class
class MyClass():
    def __init__(self , parm_1):
        self.atribute_1 = parm_1
    
    def add_20(self):
        self.atribute_1  += 20
        

a = MyClass(20)
a.add_20()
a.atribute_1

40

In [23]:
s = "MY STRING"

# call `str.title() directly
# instead of `s.title()`
result = str.title(s)
print(result)

My String

In [24]:
class MyClass():
    def print_self(self):
        print(self)

mc = MyClass()
print(mc)
mc.print_self()

<__main__.MyClass object at 0x000002DA861D5EC8>
<__main__.MyClass object at 0x000002DA861D5EC8>

In [25]:
class MyClass():
    def __init__(self, string):
        self.my_attribute = string

mc = MyClass("Hola!")

#python runs __init__ directly when we instantiate an object
MyClass.__init__(mc , "hola")

print(mc.my_attribute)

hola

In [26]:
class NewList():
    def __init__(self , initial_state ,n):
        self.initial_state = initial_state
        self.n = n
        
my_list = NewList([1,2,3] , 5)

print(my_list.initial_state)

[1, 2, 3]

In [27]:
class New():
    def __init__(self , mylist):
        self.mylist = mylist
        
    def new_append(self , value):
        self.value = value
        self.value = [self.value]
        self.mylist = self.mylist + self.value

x = New([2,3])
x.new_append(5)
print(x.mylist)

[2, 3, 5]

In [28]:
# class MyNewList():
#     def __init__(self , initial_state):
#         self.data = initial_state
#         self.calc_length()
        
#     def clac_length(self):
#         length = 0
#         for i in self.data:
#             length += 1
#         self.length = length
        
#     def new_append(self , value):
#         self.data = self.data + [value]
#         self.calc_length()
        
# f = MyNewList([1,2,3])
# f.new_append(5)

In [29]:
class Eslam():
    def __init__(self , gender):
        self.gender = gender
    
a = Eslam("male")
a.gender = "x"

a.gender

'x'

In [30]:
# class object attributes (the same for any instance)

class Car():
    wheels = 4
    
    def __init__(self , brand , model):
        self.brand = brand 
        self.model = model
        
x = Car("bmw" , "x6")
x.wheels

s = Car("audi" , "v5")
print(x.wheels , "," ,  s.wheels)

4 , 4

methods inside classes

In [31]:
class Circle():
    pi = 3.14
    # circle gets instantiated with default raduis 1
    def __init__(self , raduis = 1):
        self.raduis = raduis
        self.area = raduis*raduis * Circle.pi
    
    def setRaduis(self , new_raduis):
        self.raduis = new_raduis
        self.area = new_raduis*new_raduis * self.pi
        
z = Circle()
print("raduis is" , z.raduis)
z.setRaduis(20)
print("new raduis is" , z.raduis)

raduis is 1
new raduis is 20

In [32]:
class Human():
    
    
    def __init__(self , gender , name):
        self.gender = gender
        self.name = name
        
    def speak(self , language , country):
        template = "{} is from {} and speaks {}"
        out = template.format(self.name , country , language)
        return out
    
h1 = Human("male" , "eslam")
h1.speak("arabic" , "egypt")

'eslam is from egypt and speaks arabic'

inheritance in python

In [33]:
class Animal():
    def __init__(self):
        print("Animal created")
        
    def whoamI(self):
        print("Animal")
        
    def eat(self):
        print("eating")
        

class Dog(Animal):
    def __init__(self):
        print("dog created")
    
    def whoamI(self):
        print("iam a dog")

In [34]:
d = Dog()

dog created

In [35]:
d.eat()

eating

In [36]:
z = Animal()

Animal created

In [37]:
z.eat()

eating

In [38]:
z.whoamI()

Animal

polymorphism concept

In [39]:
class Dog():
    def __init__(self , name):
        self.name = name
        
    def speak(self):
        return self.name + " says woof"
    
class Cat():
    def __init__(self , name):
        self.name = name
        
    def speak(self):
        return self.name + " says meow"

In [40]:
d = Dog("bosy")
d.speak()

'bosy says woof'

In [41]:
c = Cat("trump")
c.speak()

'trump says meow'

In [42]:
for i in [d , c]:
    print(i.speak())

bosy says woof
trump says meow

In [43]:
class Animal():
    def __init__(self, name):
        self.name = name
        
    def speak(self):
        raise NotImplementedError("Subclass must implement abstract method")
        
    
class Dog(Animal):
    
    def speak(self):
        return self.name + " says whoof"
    

f = Dog("fido")
f.speak()

'fido says whoof'

### special methods in python
to use the built in functions with the user defined objects

In [44]:
class Book():
    def __init__(self , title , author , pages):
        self.title = title 
        self.author = author
        self.pages = pages
        
    
    def __str__(self): #string representation for any ook object
        return "title: %s, author: %s, pages: %s" %(self.title , self.author , self.pages)
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("book deleted")
        
    def __count__(self):
        return len([])
    
    def __int__(self):
        return 5

In [45]:
book = Book("kaizen" , "aj hoge" , 200)

print(book)
str(book)

title: kaizen, author: aj hoge, pages: 200

'title: kaizen, author: aj hoge, pages: 200'

In [46]:
len(book)

200

In [47]:
b = Book("ee" , "d" , 20)

del(b)

book deleted

In [48]:
int("5")

5

#### home work

In [49]:
class Line:
    
    def __init__(self , coor1 = (0,0) ,coor2 = (1,1)):
        self.coor1 = coor1
        self.coor2 = coor2
        
    def distance(self):
        x = (self.coor2[0] - self.coor1[0])
        y = (self.coor2[1] - self.coor1[1])
        return  (x**2 + y**2)**.5
        
    def slope(self):
        return (self.coor2[1] - self.coor1[1]) / (self.coor2[0] - self.coor1[0])

In [50]:
coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1 , coordinate2)

In [51]:
li.slope()

1.6

In [52]:
li.distance()

9.433981132056603

In [53]:
class Cylinder:
    pi = 3.14
    
    def __init__(self , height = 1 , raduis = 1):
        self.height = height
        self.raduis = raduis
        
    def volume(self):
        v = Cylinder.pi * self.height * self.raduis**2 
        return v
    
    def surface_area(self):
        a = (2*self.pi*self.raduis*self.height) + (2*self.pi*self.raduis**2)
        return a

In [54]:
c = Cylinder(2,3)

In [55]:
c.surface_area()

94.2

In [56]:
c.volume()

56.52

In [57]:
class Employee:
    e = 0
    
    def __init__(self , name , salary):
        self.name = name 
        self.salary = salary
        Employee.e += 1 
        
    def displayemployee(self):
        print("total employees %d" %Employee.e)
        
    def displayEmployee(self):
        print("name:" , self.name , "salary: " , self.salary)

In [58]:
emp1 = Employee("eslam" , 2000)
emp2 = Employee("isac" , 3000)
emp3 = Employee("ahmad" , 500)


emp1.displayemployee()

total employees 3

In [59]:
emp1.name = "eslam hosam"
emp1.name

'eslam hosam'

In [60]:
hasattr(emp1 , "k")

False

In [61]:
getattr(emp2 , "name")

'isac'

In [62]:
setattr(emp3 , "age" , 26) #add attribute
emp3.age

26

In [63]:
delattr(emp3 , "age")

In [64]:
print( Employee.__doc__)

None

## modules and packages in python
working with dates and times

In [72]:
# different ways to importimg modules and its defentions
import csv 
# csv.reader() ..import module defention
# csv.writer()

#second one
import csv as c
# c.reader()
#\\\\\\\\\\\\\
from csv import reader

#importing all defentions from a module
from csv import *

# importing multible defentions
from csv import reader , writer

DateTime module with some examoles

In [69]:
import datetime as dt

dt_1 = dt.datetime(2020 , 5 , 27)
print(dt_1 , type(dt_1))

#creating datetime object from a string
s = "27/5/2020"
s_dt = dt.datetime.strptime(s , "%d/%m/%Y")
print(s_dt , type(s_dt))

#converting datetime.datetime object to string
s_2 = s_dt.strftime("%Y/%m/%d")
print(s_2 , type(s_2))

#instantiating datetime.time object
t = dt.time(3 , 35 , 33)
print(t , type(t))
t.minute
#////////////////
# retrieving the objects attributes like normal objects

print(t.hour) ; print(s_dt.year);print(s_dt.month)

2020-05-27 00:00:00 <class 'datetime.datetime'>
2020-05-27 00:00:00 <class 'datetime.datetime'>
2020/05/27 <class 'str'>
03:35:33 <class 'datetime.time'>
3
2020
5

In [73]:
#create datetime.time object from datetime.datetime 
dt_obj = dt.datetime.strptime("27/5/2020 15:44" , "%d/%m/%Y %H:%M")
print(type(dt_obj))
t_obj = dt_obj.time()

print(t_obj , type(t_obj))

<class 'datetime.datetime'>
15:44:00 <class 'datetime.time'>

programiz.com  examples

In [76]:
#current date and time 
datetime_obj = dt.datetime.now()
print(datetime_obj)

2020-05-29 10:54:23.621784

In [78]:
#get current date
date_obj = dt.date.today()
print(date_obj)

2020-05-29

In [80]:
# what is inside datetime module
print(dir(dt))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [88]:
# datetime.date clas
a = dt.date(2017 , 5 ,20)
print(a)

2017-05-20

In [91]:
a = dt.date.today()
print(a)

2020-05-29

In [106]:
# get a date from a time stamp 
time_stamp = dt.date.fromtimestamp(1000000000)
print(time_stamp)

2001-09-09

In [107]:
# print the attributes day , month , year
a = dt.date(1994 , 5 , 12)
print(a.day , a.month , a.year)

12 5 1994

In [109]:
# time class
a = dt.time(22 , 30 , 45)
print(a)

22:30:45

In [110]:
# print attributes
print(a.hour , a.minute , a.second)

22 30 45

In [116]:
from datetime import time
a = time()
print(a) ; print(a.hour)

00:00:00
0

In [121]:
# datetime.datetime class

from datetime import datetime
a = datetime(2020 , 5 , 29 , 10 , 59)
print(a)
print(a.year , a.hour)

print(a.timestamp())

2020-05-29 10:59:00
2020 10
1590730140.0

In [130]:
# understand the time stamp
from datetime import date
a = date.fromtimestamp(1590730140.0)
print(a)

2020-05-29

In [136]:
# datetime.timedelta class

from datetime import timedelta
t1 = date(year = 2020 , month = 5 , day = 29)
t2 = date(year = 2017 , month = 6 , day = 15)
t3 = t1 - t2
print(t3)
t4 = t1 + t3
print(t4)

1079 days, 0:00:00
2023-05-13

In [140]:
t1 = datetime(2020 , 2 , 2 , 15 , 20)
t2 = datetime(2014 , 2 , 4 , 15 , 30)
print(t1 - t2) ; type(t1 - t2)

2188 days, 23:50:00

datetime.timedelta

In [144]:
#print total number of seconds in t3
t3.total_seconds()

93225600.0

In [169]:
# strftime and strptime methods

from datetime import datetime
now = datetime.now()
now_string = now.strftime("%H:%M")
print(now_string)

11:31

In [170]:
print(now.strftime("%d/%m %H:%M:%S"))

29/05 11:31:38

In [171]:
# strptime method
from datetime import datetime
d = "29/5/2020 10:30"
form = "%d/%m/%Y %H:%M"
d_dt = datetime.strptime(d , form)
print(d_dt , type(d_dt))

2020-05-29 10:30:00 <class 'datetime.datetime'>

In [183]:
# timezone 
from datetime import datetime
import pytz
local = datetime.now()
print(local)

tz = pytz.timezone("Europe/London")
print(tz)

tz_now = datetime.now(tz)
print(tz_now)

2020-05-29 11:42:13.318512
Europe/London
2020-05-29 07:12:13.318512+01:00

In [201]:
a = dt.datetime.fromtimestamp(202012032)
a

datetime.datetime(1976, 5, 27, 7, 57, 12)