**here is we are gonna practice some mark down writing like HTML**
#  1.headers

# I am eslam hosam soliman
## I am eslam hosam soliman
### the coming is different

<h1> header </h1>
<h2>header 2 </h2>

**block quotes**

>I am eslam ibn hosam ibn soliman el said soliman i came from small village in egypt to study here in India and to improve my life and to improve my personal traits and i hope I achieve what i came for it and I am doing good alhamdullah

**the use of block quotes**
> we can use the block quotes to explain something in our code or analysisit is very helpful

## Code Section

`x =  5
z = 2
y = x + z
def sum_numbers(number):
    pass`
    
`string = "eslam hosam"
print(string)`
    
<code>x = 5
string = "eslam"
concat = string + x</code>

<h4>Mathematical symbols </h4>

put math symbol $\sqrt{x}$ during string

- write an equation like this $(x = y +2)$ it is amazing equation mr hosam 

-  another equation $ x + 2^2 = 14$

**Line Break**

here is the line break to go to next line <br> and here another one mrs eslam hosam soliman<br>boooo


- here is the **bold text** and u can __use__ the (_) or maybe u <b> can</b> like this one

1. **this is bold text**
2. __this is a bold text__
3. <b>this is a bold text</b>

4. *this is italic text*
5.<i>yhis is italic text</i>
6._this **is** italic text_

---
## Horizental line
---
<hr>

<hr>

### ordered list

<ol>
    <li>html</li>
    <li>css</li>
    <li>Js</li>
</ol>
        
**another way to do**
1. first choice
2. second choice
3. third choice


**unordered list**
<ul>
    <li>pandas</li>
    <li>numpy</li>
    <li>matplotlib</li>
</ul>


**another way for un ordered list**
- pandas
- numpy
- matplotlib.pyplot
- or try this one
<hr>
* nice way
* three ways now to do
* nice choice

**internal and external link**

* internal first

<a id = "division_ID">mylink</a> <br>


how to go for the id in your link
[Section title](#division_ID)

* external links

<a href="https://www.google.com" >Link to Google</a>

<a href = "https://www.datacamp.com/community/tutorials/markdown-in-jupyter-notebook">data camp</a>

**Tables**

|Name|Address|Salary| |-----|-------|------| |Hanna|Brisbane|4000| |Adam|Sydney|5000|


<table style = "width:20%">
    <tr![father.jpg](attachment:father.jpg)>
    <th>Name</th>
    <th>Address</th>
    <th>Salary</th>
    </tr>
    
    <tr>
    <td>Hanna</td>
    <td>Brisbane</td>
    <td>4000</td>
    </tr>
  
</table>

**images**

<img src="https://i.imgur.com/WWrydEh.png" width ="500" height=500 >

| Syntax | Description |
| ----------- | ----------- |
| Header | Title |
| Paragraph | Text |