### describe yourdata 
- Title: The title of the artwork.
- Artist: The name of the artist who created the artwork.
- Nationality: The nationality of the artist.
- BeginDate: The year in which the artist was born.
- EndDate: The year in which the artist died.
- Gender: The gender of the artist.
- Date: The date that the artwork was created.
- Department: The department inside MoMA to which the artwork belongs.

In [140]:
from csv import reader 
#read your data and assign it into object
read_file = reader(open("artworks.csv" , encoding = "utf-8"))
data = list(read_file)
header = data[0]
#dataset
moma = data[1:]
print(header)
print("\n number of columns" , len(header))

['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Department']

 number of columns 8

In [141]:
#display some rows
print(moma[1:4] , "\n")
print("he length of the data set s :", len(moma) , " rows")

[['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA', 'Pablo Palazuelo', '(Spanish)', '(1916)', '(2007)', '(Male)', '1978', 'Prints & Illustrated Books'], ['Tailpiece (page 55) from SAGESSE', 'Maurice Denis', '(French)', '(1870)', '(1943)', '(Male)', '1889-1911', 'Prints & Illustrated Books'], ['Headpiece (page 129) from LIVRET DE FOLASTRIES, Ã€ JANOT PARISIEN', 'Aristide Maillol', '(French)', '(1861)', '(1944)', '(Male)', '1927-1940', 'Prints & Illustrated Books']]

he length of the data set s : 16725  rows

In [142]:
#check the values in gender column
gender_unique = []
for row in moma:
    gender = row[5]
    if gender not in gender_unique:
        gender_unique.append(gender)
        
print(gender_unique)

['(Female)', '(Male)', '()', '(male)']

- we can see the values inside the column not appropiate values so we need to clean the column

In [143]:
#build a function to clean the column
def clean_column(value):
    value = value.replace("(" , "")
    value = value.replace(")" , "")
    value = value.title()
    
    return value
clean_column("(eslam hosam soliman)")

'Eslam Hosam Soliman'

In [144]:
#clean gender column 
for row in moma:
    gender = row[5]
    gender = clean_column(gender)
    row[5] = gender

#check unique values again
gender_unique = []
for row in moma:
    gender = row[5]
    if gender not in gender_unique:
        gender_unique.append(gender)
        
print(gender_unique)

['Female', 'Male', '']

- now we have cleaned the gender column and we need only to handle the missing values

In [145]:
#clean nationality column 
for row in moma:
    nat = row[2]
    nat = clean_column(nat)
    row[2] = nat
    
#check a data point 
for i in range(50,55):
    print(moma[i][2])

French
American
American
American
American

- can you answer my question ?! how many nationalities are there in this data

In [146]:
nat_unique = []
for row in moma:
    nat = row[2]
    if nat not in nat_unique:
        nat_unique.append(nat)
print(nat_unique ,"\n" , len(nat_unique))

['American', 'Spanish', 'French', 'South African', 'Canadian', 'Czech', 'Belgian', 'Russian', 'British', 'German', '', 'Swiss', 'Polish', 'Japanese', 'Portuguese', 'Austrian', 'Australian', 'Italian', 'Chilean', 'Colombian', 'Mexican', 'Brazilian', 'Dutch', 'Romanian', 'Venezuelan', 'Korean', 'Israeli', 'Argentine', 'Indian', 'Nationality Unknown', 'Swedish', 'Yugoslav', 'Cuban', 'Various', 'Luxembourgish', 'Croatian', 'Bulgarian', 'Hungarian', 'Georgian', 'Puerto Rican', 'Danish', 'Serbian', 'Pakistani', 'Ecuadorian', 'Chinese', 'Iranian', 'Finnish', 'Lebanese', 'Thai', 'Cambodian', 'Scottish', 'Kenyan', 'Latvian', 'Sudanese', 'Uruguayan', 'Peruvian', 'New Zealander', 'Moroccan', 'Guatemalan', 'Cameroonian', 'Egyptian', 'Nigerian', 'Icelandic', 'Haitian', 'Tajik', 'Irish', 'Norwegian', 'Costa Rican', 'Slovenian', 'Turkish', 'Mozambican', 'Palestinian', 'Ukrainian', 'Angolan', 'Tunisian', 'Greek', 'Zimbabwean', 'Bahamian', 'Vietnamese', 'Panamanian', 'Canadian Inuit', 'Malian', 'Filipino']
 83

- yes the answer is 83 nationalities in our data

- I think here it is okay to handle the null values also lets check in gender

In [147]:
#fill the null values in a column with the value that u want
for row in moma:
    gender = row[5]
    if gender == "":
        gender = "UNKNOWN"
    row[5] = gender
    
#check the unique values
gender_unique = []
for row in moma:
    gender = row[5]
    if gender not in gender_unique:
        gender_unique.append(gender)
        
print(gender_unique)

['Female', 'Male', 'UNKNOWN']

- easy way to handle the missing values till we reach pandas

In [148]:
#identify the date columns 
for row in moma[0:10]:
    birth_date = row[3]
    death_date = row[4]
    print([birth_date , death_date])

['(1947)', '(2013)']
['(1916)', '(2007)']
['(1870)', '(1943)']
['(1861)', '(1944)']
['(1857)', '(1927)']
['(1919)', '(2013)']
['(1857)', '(1927)']
['(1928)', '(1984)']
['(1964)', '']
['(1882)', '(1953)']

- we can see missing values and also we need to convert the dates to numbers not strings

In [149]:
#build another function to clean the date columns
def clean_dates(date):
    if date != "":
        date = date.replace("(", "")
        date = date.replace(")" , "")
        date = int(date)
    else:
        date = 2020
    return date

# apply the function on the date to clean your column
for row in moma:
    birth_date = clean_dates(row[3])
    death_date = clean_dates(row[4])
    row[3] = birth_date
    row[4] = death_date
    
    
for i in range(50 , 60):
    print([moma[i][3] , type(moma[i][3]) , moma[i][4] , type(moma[i][4])])

[1887, <class 'int'>, 1985, <class 'int'>]
[1925, <class 'int'>, 2008, <class 'int'>]
[1938, <class 'int'>, 2011, <class 'int'>]
[1929, <class 'int'>, 2020, <class 'int'>]
[1936, <class 'int'>, 2020, <class 'int'>]
[1857, <class 'int'>, 1927, <class 'int'>]
[1948, <class 'int'>, 2020, <class 'int'>]
[1886, <class 'int'>, 1969, <class 'int'>]
[1868, <class 'int'>, 1941, <class 'int'>]
[1931, <class 'int'>, 1978, <class 'int'>]

- yes mission completed and we cleaned the dates columns what next

In [150]:
#to check the null values and the empty values inside the columns and if the type is integer or not
for row in moma:
    birth_date = row[3]
    death_date = row[4]
    if birth_date == "" or birth_date == None or type(birth_date) != int:
        print(birth_date)
    if death_date == "" or death_date == None or type(birth_date) != int:
        print(death_date)

- cleaned date columns the begin date column and end date column no empty no null values

In [151]:
# calculate the age of each artist
ages = []
for row in moma:
    birth_date = row[3]
    deat_date = row[4]
    artist_age = death_date - birth_date
    ages.append(artist_age)
print(ages[1:20])
#clean more because u added 2020
for i in range(len(ages)):
    if ages[i] > 100:
        ages[i] =60
print("\n" , ages[1:20])

[104, 150, 159, 163, 101, 163, 92, 56, 138, 119, 85, 149, 126, 65, 142, 93, 84, 153, 88]

 [60, 60, 60, 60, 60, 60, 92, 56, 60, 60, 85, 60, 60, 65, 60, 93, 84, 60, 88]

In [152]:
my_list = [1 , 2 , 3 , 5 , 8]

#replace an item from list directly
for i in range(len(my_list)):
    if my_list[i] < 5 :
        my_list[i] = 0
my_list

[0, 0, 0, 5, 8]

### parsing numbers from strings

In [153]:
strings = ["good!", "morn?ing", "good?!", "morniZZZZng"]
bad_chars = ["!" , "?" , "Z"]

for i in range(len(strings)):
    for j in range(len(bad_chars)):
        if bad_chars[j] in strings[i]:
            strings[i] = strings[i].replace(bad_chars[j] , "")
strings

['good', 'morning', 'good', 'morning']

In [154]:
# but the importance of using the functions comes here to generalize the work
#build a general function to clean any string has bad characters or un wanted 
strings2 = ["good!", "morn?ing", "good?!", "morniZZZZng"]
def clean_bad_chars(string):
    for char in bad_chars:
        if char in string:
            string = string.replace(char , "")
    return string
cleaned = []
for s in strings2:
    k = clean_bad_chars(s)
    cleaned.append(k)
    
print(cleaned)

['good', 'morning', 'good', 'morning']

In [155]:
# try the idea for small list of elements

test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars2 = ["(",")","c","C",".","s","'", " "]

def strip_character(string):
    for char in bad_chars2 : 
        if char in string:
            string = string.replace(char , "")
    return string

clean_values = []
for value in test_data:
    value = strip_character(value)
    clean_values.append(value)
    
print(clean_values)

['1912', '1929', '1913-1923', '1951', '1994', '1934', '1915', '1995', '1912', '1988', '2002', '1957-1959', '1955', '1970', '1990-1999']

In [156]:
# build function to parse the numbers from strings (1999 - 2020)
def convert_date(date_string = "1995-2020"):
    s = 0
    if "-" in date_string:
        date_string = date_string.split("-")
        for i in date_string:
            s += int(i)
        avg = s / len(date_string)
        date_string = round(avg)
        
    return date_string

convert_date("2020-2015 -2030")

2022

In [157]:
# apply on your data 
for row in moma:
    art_date = row[6]
    art_date= strip_character(art_date)
    art_date = convert_date(art_date)
    row[6] = art_date

for i in range(10):
    print(moma[i][6])

1986
1978
1900
1934
1903
1957
1924
1980
2001
1941

In [165]:
#final ages 
final_ages = []
for age in ages :
    if age > 20:
        f = age
    else:
        f = "UNKNOWN"
    final_ages.append(f)

        
print(len(final_ages))

16725

- convert the ages list to decades

In [172]:
#convert the numbers to string and then parse t 
decades = []
for age in final_ages:
    if age != "UNKNOWN":
        age = str(age)
        age = age[:-1]
        age += "0s"
        decades.append(age)
print(decades[:10])

['70s', '60s', '60s', '60s', '60s', '60s', '60s', '90s', '50s', '60s']

In [174]:
#summarize all these decades by making a frequency table for all of them
decades_freq = {}

for d in decades:
    if d not in decades_freq:
        decades_freq[d] = 1
    else:
        decades_freq[d] += 1
print(decades_freq)
print(len(decades_freq))

{'70s': 1598, '60s': 9232, '90s': 1797, '50s': 682, '80s': 2015, '40s': 334, '30s': 28, '100s': 86, '20s': 9}
9

- insert values inside strings uding formatting

In [176]:
my_age = 26

print(f'eslam is {my_age} YO')

print("eslam {} is an {} student he is {} \
he came to study in {}".format("hosam" , "egyptian" , 26, "india" ))

eslam is 26 YO
eslam hosam is an egyptian student he is 26 he came to study in india

In [179]:
artist_table = {}

for row in moma:
    name = row[1]
    if name not in artist_table:
        artist_table[name] = 1
    else:
        artist_table[name]+= 1
        
artist_table["Henri Matisse"]

129

In [183]:
def artist_summary(name):
    artist_works = artist_table[name]
    template = "there are {} artworks by {} in the data".format(artist_works , name)
    
    return template
artist_summary("Henri Matisse")
artist_summary("Vicente Rojo")

'there are 5 artworks by Vicente Rojo in the data'

In [193]:
#format numbers inside strings
pop_millions = [
    ["China", 1379.302771],
    ["India", 1281.935991],
    ["USA",  326.625791],
    ["Indonesia",  260.580739],
    ["Brazil",  207.353391],
]

template = "he population of {} is {:,.4f}"
for i in pop_millions:
    print(template.format(i[0] , i[1]))

he population of China is 1,379.3028
he population of India is 1,281.9360
he population of USA is 326.6258
he population of Indonesia is 260.5807
he population of Brazil is 207.3534

In [197]:
#summarize gender column

gender_freq = {}

for row in moma:
    gender = row[5]
    if gender not in gender_freq:
        gender_freq[gender] = 1
    else:
        gender_freq[gender]+= 1
        
template = "there are {} in moma by {}"

for k ,m in gender_freq.items():
    print(template.format(m , k))

there are 2443 in moma by Female
there are 13491 in moma by Male
there are 791 in moma by UNKNOWN

## object oriented concepts