## Introduction to pandas

- here this mission for Pandas basics and the data structure of pandas(data frame , series )

In [1]:
# import pandas 
import pandas as pd 
# read the data using pandas
f500 = pd.read_csv("f500.csv" , index_col = 0)
print(f500.shape)

(500, 16)

In [2]:
# print the header of data
f500.head(3)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

In [3]:
# print the tail of data
f500.tail(2)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

- main difference between pandas and numpy that pandas data frames comtains column with multible data types
- axis values can have string labels not only index like numpy

In [4]:
# the data types in our data frame for each column
x = f500.dtypes
print(x , type(x))
print(x["rank"])

rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object <class 'pandas.core.series.Series'>
int64

In [5]:
# show some information about the data using Dataframe.info() method
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

- let's start work with data and select columns and rows from our data frame

In [6]:
# select column by label
rank = f500.loc[:, "rank"]
# Shorthand code 
rank_1 = f500["rank"]
print(rank_1 , type(rank_1))

company
Walmart                             1
State Grid                          2
Sinopec Group                       3
China National Petroleum            4
Toyota Motor                        5
                                 ...
Teva Pharmaceutical Industries    496
New China Life Insurance          497
Wm. Morrison Supermarkets         498
TUI                               499
AutoNation                        500
Name: rank, Length: 500, dtype: int64 <class 'pandas.core.series.Series'>

In [7]:
# select list of columns 
columns = f500.loc[:, ["rank" , "revenue_change" , "profits"]]
# shorthand convention 
columns_2 = f500[["rank" , "revenue_change" , "profits"]]
print(columns)

                                rank  revenue_change  profits
company
Walmart                            1             0.8  13643.0
State Grid                         2            -4.4   9571.3
Sinopec Group                      3            -9.1   1257.9
China National Petroleum           4           -12.3   1867.5
Toyota Motor                       5             7.7  16899.3
...                              ...             ...      ...
Teva Pharmaceutical Industries   496            11.5    329.0
New China Life Insurance         497           -13.3    743.9
Wm. Morrison Supermarkets        498           -11.3    406.4
TUI                              499            -5.5   1151.7
AutoNation                       500             3.6    430.5

[500 rows x 3 columns]

In [8]:
# select column slices
col_slice = f500.loc[:, "rank" : "ceo"]
col_slice
# here is no shorthand

,rank,revenues,revenue_change,profits,assets,profit_change,ceo
company,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda
...,...,...,...,...,...,...,...
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson

In [9]:
# select one row
row = f500.loc["Walmart"]
print(row)

rank                                             1
revenues                                    485873
revenue_change                                 0.8
profits                                      13643
assets                                      198825
profit_change                                 -7.2
ceo                            C. Douglas McMillon
industry                     General Merchandisers
sector                                   Retailing
previous_rank                                    1
country                                        USA
hq_location                        Bentonville, AR
website                     http://www.walmart.com
years_on_global_500_list                        23
employees                                  2300000
total_stockholder_equity                     77798
Name: Walmart, dtype: object

In [10]:
# select list of rows
rows = f500.loc[["Toyota Motor" , "TUI"]]
print(rows)

              rank  revenues  revenue_change  profits  assets  profit_change  \
company
Toyota Motor     5    254694             7.7  16899.3  437575          -12.3
TUI            499     21655            -5.5   1151.7   16247          195.5

                            ceo                  industry  \
company
Toyota Motor        Akio Toyoda  Motor Vehicles and Parts
TUI           Friedrich Joussen           Travel Services

                              sector  previous_rank  country  \
company
Toyota Motor  Motor Vehicles & Parts              8    Japan
TUI                Business Services            467  Germany

                   hq_location                       website  \
company
Toyota Motor     Toyota, Japan  http://www.toyota-global.com
TUI           Hanover, Germany       http://www.tuigroup.com

              years_on_global_500_list  employees  total_stockholder_equity
company
Toyota Motor                        23     364445                    157210
TUI                                 23      66779                      3006

In [11]:
# slice of rows
slice_rows = f500.loc["Walmart" : "Toyota Motor"]
slice_rows

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [12]:
# shorthand convention
slice_2 = f500["Walmart" : "Toyota Motor"]

- series vs dataframe

In [13]:
# this is a series object which is 1D only 
rank = f500["rank"]
print(rank , "\n",  type(rank))

company
Walmart                             1
State Grid                          2
Sinopec Group                       3
China National Petroleum            4
Toyota Motor                        5
                                 ...
Teva Pharmaceutical Industries    496
New China Life Insurance          497
Wm. Morrison Supermarkets         498
TUI                               499
AutoNation                        500
Name: rank, Length: 500, dtype: int64 <class 'pandas.core.series.Series'>

In [14]:
# some methods in series 
# value_counts methos which returns the unique non-null values and its counts in order
rank_counts = rank.value_counts()
rank_counts

500    1
171    1
158    1
159    1
160    1
      ..
339    1
340    1
341    1
342    1
1      1
Name: rank, Length: 500, dtype: int64

In [15]:
# countries series 
countries = f500["country"]
print(countries)

company
Walmart                               USA
State Grid                          China
Sinopec Group                       China
China National Petroleum            China
Toyota Motor                        Japan
                                   ...
Teva Pharmaceutical Industries     Israel
New China Life Insurance            China
Wm. Morrison Supermarkets         Britain
TUI                               Germany
AutoNation                            USA
Name: country, Length: 500, dtype: object

In [16]:
countries_count = countries.value_counts()
countries_count

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Switzerland      14
Netherlands      14
Canada           11
Spain             9
Australia         7
Italy             7
Brazil            7
India             7
Taiwan            6
Ireland           4
Russia            4
Singapore         3
Sweden            3
Mexico            2
Belgium           1
Denmark           1
Finland           1
Luxembourg        1
Turkey            1
Indonesia         1
Malaysia          1
Thailand          1
Israel            1
Venezuela         1
Saudi Arabia      1
U.A.E             1
Norway            1
Name: country, dtype: int64

In [17]:
ceo = f500["ceo"]
counts = ceo.value_counts()
counts

Brian C. Hartzer         1
Hubert B. Joly           1
Stephen S. Rasmussen     1
Daniel P. Amos           1
Timothy J. Mayopoulos    1
                        ..
Wang Jianlin             1
Tidjane Thiam            1
Randall T. Jones Sr.     1
Frans A. van Houten      1
Yang Jie                 1
Name: ceo, Length: 500, dtype: int64

In [18]:
counts["Paul Polman"]

1

In [19]:
ceo[50]

'Yang Mingsheng'

In [20]:
print(ceo[50:60])

company
China Life Insurance                Yang Mingsheng
BMW Group                            Harald Kruger
Express Scripts Holding       Timothy C. Wentworth
Trafigura Group                        Jeremy Weir
China Railway Engineering            Zhang Zongyan
Prudential                        Michael A. Wells
Assicurazioni Generali          Philippe R. Donnet
China Railway Construction           Meng Fengchao
Home Depot                         Craig A. Menear
Boeing                        Dennis A. Muilenburg
Name: ceo, dtype: object

In [21]:
ceo["BMW Group" : "Home Depot"]

company
BMW Group                            Harald Kruger
Express Scripts Holding       Timothy C. Wentworth
Trafigura Group                        Jeremy Weir
China Railway Engineering            Zhang Zongyan
Prudential                        Michael A. Wells
Assicurazioni Generali          Philippe R. Donnet
China Railway Construction           Meng Fengchao
Home Depot                         Craig A. Menear
Name: ceo, dtype: object

In [22]:
# let's play 
middle_companies = f500.loc["BMW Group" : "Assicurazioni Generali" , "rank" : "profits"]
middle_companies

                           rank  revenues  revenue_change  profits
company
BMW Group                    52    104130             1.8   7589.4
Express Scripts Holding      53    100288            -1.4   3404.4
Trafigura Group              54     98098             0.9    750.8
China Railway Engineering    55     96979            -2.5    924.1
Prudential                   56     96965            53.7   2592.8
Assicurazioni Generali       57     95217            -7.2   2301.3

In [23]:
# the summary challenge 
big_movers = f500.loc[["Aviva" , "HP", "JD.com"] , ["rank" , "previous_rank"]]
big_movers

         rank  previous_rank
company
Aviva      90            279
HP        194             48
JD.com    261            366

In [24]:
bottom_companies = f500.loc["National Grid" : "AutoNation" , ["rank" , "sector" , "country"]] # dataframe
bottom_companies

                                       rank              sector  country
company
National Grid                           491              Energy  Britain
Dollar General                          492           Retailing      USA
Telecom Italia                          493  Telecommunications    Italy
Xiamen ITG Holding Group                494         Wholesalers    China
Xinjiang Guanghui Industry Investment   495         Wholesalers    China
Teva Pharmaceutical Industries          496         Health Care   Israel
New China Life Insurance                497          Financials    China
Wm. Morrison Supermarkets               498  Food & Drug Stores  Britain
TUI                                     499   Business Services  Germany
AutoNation                              500           Retailing      USA

In [25]:
z = bottom_companies["sector"] #series
z

company
National Grid                                        Energy
Dollar General                                    Retailing
Telecom Italia                           Telecommunications
Xiamen ITG Holding Group                        Wholesalers
Xinjiang Guanghui Industry Investment           Wholesalers
Teva Pharmaceutical Industries                  Health Care
New China Life Insurance                         Financials
Wm. Morrison Supermarkets                Food & Drug Stores
TUI                                       Business Services
AutoNation                                        Retailing
Name: sector, dtype: object

In [26]:
z["Telecom Italia"]

'Telecommunications'

In [27]:
f500.columns

Index(['rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [28]:
f500.sum()

rank                                                                   125250
revenues                                                             27708179
revenue_change                                                         2260.1
profits                                                           1.52455e+06
assets                                                              121816137
profit_change                                                         10530.6
ceo                         C. Douglas McMillonKou WeiWang YupuZhang Jianh...
industry                    General MerchandisersUtilitiesPetroleum Refini...
sector                      RetailingEnergyEnergyEnergyMotor Vehicles & Pa...
previous_rank                                                          111067
country                     USAChinaChinaChinaJapanGermanyNetherlandsUSAUS...
hq_location                 Bentonville, ARBeijing, ChinaBeijing, ChinaBei...
website                     http://www.walmart.comhttp://www.sgcc.com.cnht...
years_on_global_500_list                                                 7518
employees                                                            66999158
total_stockholder_equity                                             15314038
dtype: object