### Exploring Data with pandas: Fundamentals

# write information or the data dictionary first about your dataset

In [1]:
import numpy as np
import pandas as pd 
f500 = pd.read_csv("f500.csv" , index_col = 0)
f500.head(3)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

- the vectorized operations with pandas

In [2]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [3]:
# mathematical operations with pandas
prev_rank = f500["previous_rank"]
rank = f500["rank"]
diff = prev_rank - rank
diff

company
Walmart                             0
State Grid                          0
Sinopec Group                       1
China National Petroleum           -1
Toyota Motor                        3
                                 ...
Teva Pharmaceutical Industries   -496
New China Life Insurance          -70
Wm. Morrison Supermarkets         -61
TUI                               -32
AutoNation                       -500
Length: 500, dtype: int64

In [4]:
# show the values 
diff.value_counts()

-1      14
-4      13
 8      12
-2      12
-6      11
        ..
-105     1
 105     1
 106     1
-108     1
-124     1
Length: 185, dtype: int64

In [5]:
diff.max()

226

In [6]:
diff.min()

-500

In [7]:
diff.mean()

-28.366

In [8]:
# series describe method
diff.describe()

count    500.000000
mean     -28.366000
std      108.602823
min     -500.000000
25%      -28.250000
50%       -4.000000
75%        8.250000
max      226.000000
dtype: float64

In [9]:
# change the ceo name to my name
diff_bool = diff ==1
f500_copy = f500.copy()
f500_copy.loc[diff_bool , "ceo"] = "Eslam Hosam"
f500_copy[diff_bool]
f500.copy().loc[diff == 1 , "ceo"] = "eslam"

In [10]:
# like the series dataframes have describe method 
f500.describe() # displays for numerical columns by default

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,250.500000,55416.358000,4.538353,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000
std,144.481833,45725.478963,28.549067,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833
min,1.000000,21609.000000,-67.300000,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000
25%,125.750000,29003.000000,-5.900000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000
50%,250.500000,40236.000000,0.550000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000
75%,375.250000,63926.750000,6.975000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000
max,500.000000,485873.000000,442.300000,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000

In [11]:
# describe for columns 
f500[["rank" , "previous_rank"]].describe()

             rank  previous_rank
count  500.000000     500.000000
mean   250.500000     222.134000
std    144.481833     146.941961
min      1.000000       0.000000
25%    125.750000      92.750000
50%    250.500000     219.500000
75%    375.250000     347.250000
max    500.000000     500.000000

In [12]:
# Not a number column 
f500["country"].describe()

count     500
unique     34
top       USA
freq      132
Name: country, dtype: object

In [13]:
# method chaining 
Li_Guohua  = f500["ceo"].value_counts().loc["Li Guohua"]
print(Li_Guohua)
usa = f500["country"].value_counts().loc["USA"]
print(usa)

1
132

In [14]:
f500["revenues"].value_counts().loc[29003]

2

In [15]:
# return the number of companies with value zero in prewvious rank

zero_prev_rank = f500["previous_rank"].value_counts()
zero_prev_rank

0      33
159     1
147     1
148     1
149     1
       ..
321     1
322     1
323     1
324     1
235     1
Name: previous_rank, Length: 468, dtype: int64

In [16]:
f500.loc[f500["previous_rank"] == 0 ,"previous_rank" ] = np.nan
f500["previous_rank"].value_counts(dropna=False).head()

NaN      33
471.0     1
234.0     1
125.0     1
166.0     1
Name: previous_rank, dtype: int64

In [17]:
prev_rank.value_counts().loc[0]

33

In [18]:
x = prev_rank.value_counts()
x.loc[0]

33

In [19]:
# data exploratiopn in pandas
f500.max(axis = 0)

rank                                             500
revenues                                      485873
revenue_change                                 442.3
profits                                        45687
assets                                       3473238
profit_change                                 8909.5
ceo                                       Zhou Qiang
industry                    Wholesalers: Health Care
sector                                   Wholesalers
previous_rank                                    500
country                                    Venezuela
hq_location                      Zurich, Switzerland
website                        http://www.zurich.com
years_on_global_500_list                          23
employees                                    2300000
total_stockholder_equity                      301893
dtype: object

In [20]:
# for numeric values only 
f500.max(axis = 0 , numeric_only=True)

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [21]:
f500.describe(include=['O'])

,ceo,industry,sector,country,hq_location,website
count,500,500,500,500,500,500
unique,500,58,21,34,235,500
top,J. Bruce Flatt,Banks: Commercial and Savings,Financials,USA,"Beijing, China",http://www.apple.com
freq,1,51,118,132,56,1

In [22]:
# creating new column
rank_change = f500["previous_rank"] - f500["rank"]
#new column 
f500["rank_change"] = rank_change
f500["rank_change"].describe()

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

In [23]:
# challenge top performance by country
#In this challenge, we'll calculate a specific statistic or attribute of each of 
#the two most common countries from our f500 dataframe

top_2 = f500["country"].value_counts().head(2)

#the two most comman value for industry column for countries headquartered in usa
industry_usa = f500.loc[f500["country"] == "USA" , "industry"].value_counts().head(2)

#the three most common values for sector column for companies headquartered in china
sector_china = f500.loc[f500["country"] == "China" , "sector"].value_counts().head(3)
print("USA industries:\n" , industry_usa ,"\n")
print("Chinese sectors\n", sector_china)

USA industries:
 Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    7
Name: industry, dtype: int64

Chinese sectors
 Financials     25
Energy         22
Wholesalers     9
Name: sector, dtype: int64